.container {
  height: 100%;
  width: 200px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  padding: 15px;
}
li {
  list-style-type: none;
  margin-bottom: 30px;

}
a{
    font-size: 17px;
    color: black;
    font-weight: bold;
    font-family: Nunito;
}
.logo{
    background-image: url(../resources/lock-logo.png);
    background-repeat: no-repeat;
    height: 50px;
    width:50px;

}
