.archive_button{
    width: 140px;
    height: 30px;
    background: #6DA3F1;
    border-radius: 20px;
    border: none;
    margin-top: 7px;
    margin-right: 25px;
    color: white;
    font-weight: bold;
}